{% extends "base/base.html" %}
{% load static %}
{% block body_class %}
    d-flex flex-column bg-white
{% endblock %}
{% block content %}
    <div class="row g-0 flex-fill">
        <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
            <div class="container container-tight my-5 px-lg-5">
                <div class="text-center mb-4">
                    <a href="." class="navbar-brand navbar-brand-autodark">
                        <img src="{% static 'laboinfra_logo.svg' %}" height="36" alt="">
                    </a>
                </div>
                <h2 class="h3 text-center mb-3">
                    Login to your account
                </h2>
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-title">Uh error...</h4>
                    <div class="text-secondary">{{ form.errors }}</div>
                </div>
                {% endif %}
                <form method="post">
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label">Email address</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-2">
                        <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                        <div class="input-group input-group-flat">{{ form.password }}</div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Sign in</button>
                    </div>
                    {% csrf_token %}
                </form>
                <div class="text-center text-secondary mt-3">
                    Don't have account yet? <a href="" tabindex="-1">Join our discord</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
            <!-- Photo -->
            <div class="bg-cover h-100 min-vh-100"
                 style="background-image: url({% static 'blade_bg.png' %})"></div>
        </div>
    </div>
{% endblock %}